body{
    background: #F2F2F2;
background: -webkit-linear-gradient(top left, #F2F2F2, #1E1060);
background: -moz-linear-gradient(top left, #F2F2F2, #1E1060);
background: linear-gradient(to bottom right, #F2F2F2, #1E1060);
}
#container{
    height: 100vh;
    width:100%;
   display:grid;
   grid-template-columns: repeat(13, 1fr);
   grid-template-rows: repeat(13, 1fr);
}

#square1{
    grid-column: 5;
    grid-row:4;
    margin-bottom:10px;
}
#square2{
    grid-column: 5;
    grid-row:5;
    margin-bottom:10px;

}
#square3{
    grid-column: 5;
    grid-row:6;
    margin-bottom:10px;

}
#square4{
    grid-column: 5;
    grid-row:7;
    margin-bottom:10px;

}

#button-2{
    width:50px;
    height:40px;
    grid-column: 5;
    grid-row:2;
    background: #C9F3C4;
background: -webkit-linear-gradient(left, #C9F3C4, #9B4962);
background: -moz-linear-gradient(left, #C9F3C4, #9B4962);
background: linear-gradient(to right, #C9F3C4, #9B4962);
}
#button-1-1{
    width:50px;
    height:45px;
    grid-column: 7;
    grid-row:4;
    background: #C9F3C4;
background: -webkit-linear-gradient(left, #C9F3C4, #9B4962);
background: -moz-linear-gradient(left, #C9F3C4, #9B4962);
background: linear-gradient(to right, #C9F3C4, #9B4962);
}
#button-1-2{
    width:50px;
    height:45px;
    grid-column: 7;
    grid-row:6;
    background: #C9F3C4;
background: -webkit-linear-gradient(left, #C9F3C4, #9B4962);
background: -moz-linear-gradient(left, #C9F3C4, #9B4962);
background: linear-gradient(to right, #C9F3C4, #9B4962);
}
#refresh{
    width:100px;
    height:45px;
    grid-row: 10;
    grid-column:5;
    background: #C9F3C4;
background: -webkit-linear-gradient(left, #C9F3C4, #9B4962);
background: -moz-linear-gradient(left, #C9F3C4, #9B4962);
background: linear-gradient(to right, #C9F3C4, #9B4962);
}
#instructions{
    grid-row: 5;
    grid-column:12;
    width: 350px;
    font-weight: 900;
    border:3px dashed whitesmoke;
    padding:20px;
    padding-left:50px;
    font-size:2em;
    color:whitesmoke
}